@tailwind base;
@tailwind components;
@tailwind utilities;


@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";


::-webkit-scrollbar {
  width: 6px; 
  background-color: rgba(
    240,
    248,
    255,
    0.7
  ); 
}

::-webkit-scrollbar-thumb {
  background-color: rgba(11, 150, 197, 0.9); 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(
    135,
    206,
    250,
    1
  ); 
}


.scrollable-element {
  scrollbar-width: thin; 
  scrollbar-color: rgba(173, 216, 230, 0.9) rgba(240, 248, 255, 0.7); 
}


